            /*==========GOOGLE FONT============*/

@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

body {
    background-color: #4c5655;
}
            /*==========TITLES============*/

.title {
    margin: 0 auto;
    text-align: center;
    font-family: "Cinzel", sans-serif;
    font-weight: 600;
    font-size: 65px;
    margin-bottom: 30px;
    color: white;
}

            /*==========GAME BUTTONS============*/
            
            
.game {
    margin: 0 auto;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    position: relative;
    bottom: 33px;
}

.game-button {
    margin: 0 auto;
    float: left;
    position: relative;
    height: 350px;
    width: 350px;
    border: 2px solid white;
}

#uLeft{
    background-color: darkgreen;
    border-radius: 100% 0 0 0;
}

#uRight{
    background-color: darkred;
    border-radius: 0 100% 0 0;
}

#bLeft{
    background-color: olive;
    border-radius: 0 0 0 100%;
}

#bRight{
    background-color: darkblue;
    border-radius: 0 0 100% 0;
}

            /*==========MENU============*/

.menu {
    height: 340px;
    width: 340px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    top: 26%;
    left: 25%;
    border: 7px double black;
    text-align: center;
}

.buttonsplace {
    display: flex;
    
}

.style {
    font-size: 40px;
    margin-top: 25px;
}

.start-button {
    height: 68px;
    width: 110px;
    font-family: "Cinzel", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 4%;
    border: 2px solid #9c95b7;
    margin-right: 2%;
    border-radius: 50%
}

#sum {
    height: 35px;
    width: 62px;
    color: white;
    background-color: black;
    margin-left: 134px;
    border: 2px solid #9c95b7;
    border-radius: 20%;
    color: red;
    font-size: large;
    margin-top: 15px;
}


.boxe {
    height: 30px;
    width: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-toggle {
    float: none;
    background-color: #333;
}

.navbar-inverse {
    background-color: inherit;
}

.navbar-nav {
    margin: 0.5px -15px;
}

.text-center {
    color: #ff8942e8;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #2b2626;
    color: white;
    margin-top: 20px;
    margin-bottom: 409px;
}

.form-control {
    width: 75%;
    margin-left: 13%;
}

.btn:hover {
    color: #24bb38;
}


          /*==========ICONS============*/

.fa-question {
    margin-left: 69%;
    color: white;
}

.fa-volume-up {
    position: absolute;
    margin-left: 65%;
    color: white;
}

.fa-volume-off {
    position: absolute;
    margin-left: 65%;
    color: #00000087;
}

          /*==========FOOTER============*/

.footer-area {
    background-color: #252323;
    width:100%;
    height:75px;
    position: absolute;
    border-top: 2px solid #c78918;
}

.footer-text {
    color:#f7b537;
    font-family: "Cinzel", sans-serif;
    text-align: center;
}

.fa-github {
    padding-left: 20px;
}

            /*==========MOBILE============*/

@media (max-width: 767px) {
    
    h3 {
        font-size: 9px;
        margin-top: 0;
    }
    
    #sum {
        margin-left: 60px;
        margin-top: -10px;
    }
    
    .game {
        width: 400px;
        height: 400px;
        bottom: 26px;
    }
    
    .game-button {
        width: 175px;
        height: 175px;
    }
    
    .menu {
        width: 195px;
        height: 195px;
        top: 20%;
        left: 19%;
    }
    
    .title {
        font-size: 43px;
        color: white;
    }
    
    .boxe {
        width: 19px;
        height: 19px;
    }
    
    .start-button {
        width: 79px;
        height: 39px;
        font-size: inherit;
        margin-top: -5px;
    }
    
    .buttonsplace {
        margin-top: -16px;
        margin-left: 16px;
    }
    
    .fa-question {
        margin-left: 82% !important;
        top: 84px !important;
    }
     .navbar-inverse {
         width: 90px;
     }
     .navbar-inverse .navbar-toggle:hover {
         margin: 10px;
     }
     .navbar-inverse .navbar-toggle {
         margin: 10px;
     }
     .navbar-inverse .navbar-collapse {
         margin: 10px;
     }
     
     .modal-open .modal {
        display: block;
        width: 375px;
     }
     
     .form-control {
         width: 85%;
         margin-left: 27px;
         display: inherit;
     }
     
     .fa-volume-up {
         color: white !important;
         margin-left: 78% !important;
     }
     
     .fa-volume-off {
         color: #d0d0d0 !important;
         margin-left: 78% !important;
     }
     
     .fa-question {
         color: white !important;
         margin-left: 90% !important;
     }
     
     .footer-area {
         margin-top: 20px;
     }
     
     .center-block {
         margin-bottom: 110px;
     }
}


            /*==========TABLET============*/




@media (min-width: 768px) and (max-width: 1024px) {
    
    h3 {
        font-size: 13px;
    }
    
    .title {
        font-size: 60px;
        color: white;
    }
    
    .game {
        width: 600px;
        height: 600px;
        top: 0;
    }
    
    .game-button {
        width: 300px;
        height: 300px;
    }
    
    .menu {
        width: 300px;
        height: 300px;
        top: 25%;
        left: 24%;
    }
    
    .fa-question {
        margin-left: 82% !important;
    }
    
    .buttonsplace {
        margin-top: -16px;
       margin-left: 16px;
    }
    
    #sum {
        margin-left: 113px;
        margin-top: 0;
    }
    
    .fa-volume-up {
        margin-left: 72% !important;
        color: #333;
    }
    
    .fa-volume-off {
        margin-left: 72% !important;
    }
    
    .footer-area {
        position: fixed !important;
        margin-top: 43px;
        bottom: 100px;
    }
    
}