            /*==========GOOGLE FONT============*/

@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

body {
    background-color: #4c5655;
}
            /*==========TITLES============*/

.title {
    margin: 0 auto;
    text-align: center;
    font-family: "Cinzel", sans-serif;
    font-weight: 600;
    font-size: 65px;
    margin-bottom: 30px;
    color: black;
}

            /*==========GAME BUTTONS============*/
            
            
.game {
    margin: 0 auto;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    position: relative;
}

.game-button {
    margin: 0 auto;
    float: left;
    position: relative;
    height: 393px;
    width: 393px;
    border: 2px solid white;
}

#uLeft{
    background-color: green;
    border-radius: 100% 0 0 0;
}

#uRight{
    background-color: darkred;
    border-radius: 0 100% 0 0;
}

#bLeft{
    background-color: olive;
    border-radius: 0 0 0 100%;
}

#bRight{
    background-color: darkblue;
    border-radius: 0 0 100% 0;
}

            /*==========MENU============*/

.menu {
    height: 340px;
    width: 340px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    top: 28%;
    left: 27%;
    border: 7px double black;
    text-align: center;
}

.buttonsplace {
    display: flex;
    
}

.style {
    font-size: 40px;
    margin-top: 25px;
}

.start-button {
    height: 68px;
    width: 110px;
    font-family: "Cinzel", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 4%;
    border: 2px solid #9c95b7;
    margin-right: 2%;
    border-radius: 50%
}

#sum {
    height: 31px;
    width: 50px;
    color: white;
    background-color: black;
    margin-left: 140px;
    border: 2px solid #9c95b7;
    border-radius: 20%;
    color: red;
    font-size: large;
    margin-top: 15px;
}


.boxe {
    height: 30px;
    width: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
