            /*==========GOOGLE FONT============*/

@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

body {
    background-color: #4c5655;
}
            /*==========TITLES============*/

.title {
    margin: 0 auto;
    text-align: center;
    font-family: "Cinzel", sans-serif;
    font-weight: 600;
    font-size: 65px;
    margin-bottom: 30px;
    color: black;
}

            /*==========GAME BUTTONS============*/
            
            
.game {
    margin: 0 auto;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    position: relative;
}

.game-button {
    margin: 0 auto;
    float: left;
    position: relative;
    height: 350px;
    width: 350px;
    border: 2px solid white;
}

#uLeft{
    background-color: darkgreen;
    border-radius: 100% 0 0 0;
}

#uRight{
    background-color: darkred;
    border-radius: 0 100% 0 0;
}

#bLeft{
    background-color: olive;
    border-radius: 0 0 0 100%;
}

#bRight{
    background-color: darkblue;
    border-radius: 0 0 100% 0;
}

            /*==========MENU============*/

.menu {
    height: 340px;
    width: 340px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    top: 26%;
    left: 25%;
    border: 7px double black;
    text-align: center;
}

.buttonsplace {
    display: flex;
    
}

.style {
    font-size: 40px;
    margin-top: 25px;
}

.start-button {
    height: 68px;
    width: 110px;
    font-family: "Cinzel", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 4%;
    border: 2px solid #9c95b7;
    margin-right: 2%;
    border-radius: 50%
}

#sum {
    height: 35px;
    width: 62px;
    color: white;
    background-color: black;
    margin-left: 134px;
    border: 2px solid #9c95b7;
    border-radius: 20%;
    color: red;
    font-size: large;
    margin-top: 15px;
}


.boxe {
    height: 30px;
    width: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-toggle {
    float: none;
    background-color: #333;
}

.navbar-inverse {
    background-color: inherit;
}

.navbar-nav {
    margin: 0.5px -15px;
}

.text-center {
    color: #ff8942e8;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #2b2626;
    color: white;
    margin-top: 20px;
}

.form-control {
    width: 75%;
    margin-left: 13%;
}

.btn:hover {
    color: #24bb38;
}


            /*==========MOBILE============*/

@media (max-width: 767px) {
    
    h3 {
        font-size: 9px;
        margin-top: 0;
    }
    
    #sum {
        margin-left: 60px;
        margin-top: -10px;
    }
    
    .game {
        width: 400px;
        height: 400px;
    }
    
    .game-button {
        width: 175px;
        height: 175px;
    }
    
    .menu {
        width: 195px;
        height: 195px;
        top: 20%;
        left: 19%;
    }
    
    .title {
        font-size: 43px;
    }
    
    .boxe {
        width: 19px;
        height: 19px;
    }
    
    .start-button {
        width: 79px;
        height: 39px;
        font-size: inherit;
        margin-top: -5px;
    }
    
    .buttonsplace {
        margin-top: -16px;
        margin-left: 16px;
    }
    
    
    .fa-5x {
        font-size: 4em !important;
    }
    
    .fa-question {
        margin-left: 82% !important;
        top: 84px !important;
    }
     .navbar-inverse {
         width: 90px;
     }
     .navbar-inverse .navbar-toggle:hover {
         margin: 10px;
     }
     .navbar-inverse .navbar-toggle {
         margin: 10px;
     }
     .navbar-inverse .navbar-collapse {
         margin: 10px;
     }
     
     .modal-open .modal {
        display: block;
        width: 375px;
     }
     
     .form-control {
         width: 85%;
         margin-left: 27px;
         display: inherit;
     }
}


            /*==========TABLET============*/




@media (min-width: 768px) and (max-width: 1024px) {
    
    h3 {
        font-size: 13px;
    }
    
    .title {
        font-size: 60px;
    }
    
    .game {
        width: 600px;
        height: 600px;
        bottom: 60px;
    }
    
    .game-button {
        width: 300px;
        height: 300px;
    }
    
    .menu {
        width: 300px;
        height: 300px;
        top: 25%;
        left: 24%;
    }
    
    .fa-question {
        margin-left: 85% !important;
    }
    
    .buttonsplace {
        margin-top: -16px;
       margin-left: 16px;
    }
    
    #sum {
        margin-left: 113px;
        margin-top: 0;
    }
    
}



.fa-question {
    margin-left: 69%;
    color: #ece3e3db;
}

.fa-5x {
    font-size: 7em;
}

.fa-volume-up {
    position: absolute;
    margin-left: 63%;
    color: #ece3e3db;
}

.fa-volume-off {
    position: absolute;
    margin-left: 63%;
    color: #252525;
}